footer.Todo-List__Footer-Buttons
  display: inline-flex
  justify-content: space-between
  align-items: center

  width: calc(100% - 6vh)
  padding-left: 3vh

  margin-top: 1.5vw
  font-size: 1vw

  text-align: center
  color: $strikemaster
  font-weight: 500

  button.Todo-List__Footer-Buttons__Link, button.Todo-List__Footer-Buttons__Input
    padding-block: .2vw

    text-decoration: none
    color: $strikemaster

    user-select: none
    cursor: pointer

    border: 2px $strikemaster solid
    border-radius: 8px
    transition: .2s

    &:hover
      scale: 1.1

    &:active
      scale: 1

  button.Todo-List__Footer-Buttons__Input
    border: none
    background: transparent
    white-space: nowrap
    font-weight: 500
    padding-inline: 0

  button.Todo-List__Footer-Buttons__Link.Active-Link
    color: $cosmic
    font-weight: 700
    border: 3px $cosmic solid



div.Todo-List__Footer-Buttons__Tasks-Type
  width: 50%
  display: inline-flex
  justify-content: space-around

  button.Todo-List__Footer-Buttons__Link
    background: transparent
    width: 6vw


p.Todo-List__Footer-Buttons__Tasks-Count
  margin: 0


@media (max-width: 1500px)
  footer.Todo-List__Footer-Buttons
    display: grid
    grid-template-rows: 4vh 6vh
    grid-template-columns: 0 40% 5% 45% 0

    margin-top: 2vh
    font-size: 2vh

    p.Todo-List__Footer-Buttons__Tasks-Count
      justify-self: left
      grid-column: 2/3
      grid-row: 2

    button.Todo-List__Footer-Buttons__Input
      justify-self: right
      grid-column: 4/5
      grid-row: 2

  div.Todo-List__Footer-Buttons__Tasks-Type
    width: 100%
    padding-left: 2px
    justify-content: space-between
    grid-column: 1/6

    button.Todo-List__Footer-Buttons__Link
      width: 25%

@media (max-width: 600px)
  footer.Todo-List__Footer-Buttons
    font-size: .8em

    div.Todo-List__Footer-Buttons__Tasks-Type>button.Todo-List__Footer-Buttons__Link
        width: 30%